.button-icon{
    border:none;background:transparent;outline:none;
}
.button-icon:focus{
    outline:none;
    border:none;
}
.icon-like{
    height:20px;width:23px;fill:#9e9e9e;
}
.icon-dislike{
    transform:rotate(180deg);
}
/*#0d6efd*/
.icon-active{
    fill:#0d6efd !important;
}
.like_font_size{
    font-size:.7rem;
    margin-top:4px;
}
.green{
    background:rgba(147, 241, 147, 0.589);
}
.notification{
    position:fixed;
    font-size:1rem;
    min-width:5rem;
    max-width:25rem;
    top:4rem;
    right:2rem;
    background:rgba(64, 202, 64, 1);
    color:white;
    padding:1rem 1.5rem 1rem 1.5rem;
    z-index:1000;
    border-radius:.2rem;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    display:flex;
    align-items:center;
    transition:opacity .5s,transform .5s;
}
.danger{
    background:rgba(253, 58, 58, 0.9) !important;
}
.icon-checkmark{
    height:2rem;
    width:2rem;
    fill:green;
    margin-right:1rem;
    
}
.muted-size{
    font-size:.7rem;
}
.sidebar{ 
    padding:0 20px;
    position:fixed;
    top:56px;
    left:0px;
   height:calc(100% - 55px);
   overflow-y:auto;
   z-index:1000;
}

.sidebar::-webkit-scrollbar{
    display:none;
}
.icon-github{
    fill:rgba(36, 34, 34, 0.829);
    height:2rem;
    width:2rem;
}
.hamberger{
    cursor:pointer;
}
.icon-menu{
    fill:#343a40;
    height:1.6rem;
    width:1.6rem;
}
.icon-cross-sidebar{
    fill:#343a40;
    height:1.2rem;
    width:1.2rem;
}
.sidebar-small{
    transform:translateX(110%);
    position:absolute;
    top:51px;
    right:0;
    height:calc(100vh - 51px);
    width:50%;
    background:white;
    z-index:1000000;
    transition:all .4s ease-in-out;
}
.main_container{
    flex-grow:1;
    min-height:calc(100vh - 209px);
}
.line_1{
    line-height:1 !important;
    padding:17px 10px;
}

trix-toolbar [data-trix-button-group="file-tools"] {
    display: none;
  }

@media  only screen and (max-width: 340px) {
    .button-size{
        font-size:.7rem !important;
    }
}
@media  only screen and (max-width: 450px) {
    .sidebar-small{
        width:70% !important;
    }
}
@media (max-width: 401px) {
   .notification{
       right:0;
   }
}
/*@media (max-width: 768px) {
    
}*/
@media (min-width: 768px) {
    .sidebar,.sidebar_cont,.footer_side{
        width:calc(319.98px - 30px);
    }
    .sidebar_cont,.footer_side{
       min-width:calc(319.98px - 30px);
    }
}
@media (min-width: 992px) {
   
}
@media (min-width: 1200px) {
    
}